main{
    background-color: orange;
    padding:0.5rem;
    border:1px solid gray;
}
.flexBox section:first-of-type{
    background-color:cadetblue;
}
.flexBox section:last-of-type{
    background-color: brown;
}
.flexBox{
    margin:1rem 0 2rem;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flexBox>main{
    flex-basis:100%;
}
.flexBox section{
    flex-basis: 50%;
    flex-grow: 1;
}